* {
	box-sizing: border-box;
	font-family: cursive;
}

h1 {
	text-align: center;
	margin-bottom: 30px;
}

h2 {
	text-align: center;
}

p {
padding: 5%;
}

.navbar {
  border: 2px solid black;
  border-radius: 0;
  height: auto;
}
.navbar-brand {
 padding-left: 30px;
 font-weight: bold;
 font-size: 2em;
}

#part1, #part2, #part3{
	background-color: grey;
	border: 1px solid black;
	margin: 10px;
}

 /* views */
.row {
  width: 100%;
}
@media (min-width: 992px) /*for large screens*/ { 
  .col-lg-4 {
    float: left;
    width: 33.33%;
  }
}
@media (min-width: 769px) and (max-width: 991px) /*for medium screens like tablets*/ { 
  .col-md-6 {
    float: left;
    width: 50%;
  }
  .col-md-12 {
    float: left;
    width: 100%;
  }
}

